body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
}

#react-target {
  width: 100%;
  height: 100vh;
}

/* Estilos personalizados del scrollbar */

/* Para tema claro */
body[data-theme='light'] ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

body[data-theme='light'] ::-webkit-scrollbar-track {
  background: #fafafa;
}

body[data-theme='light'] ::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 4px;
  min-height: 40px;
}

body[data-theme='light'] ::-webkit-scrollbar-thumb:hover {
  background: #333333;
}

/* Para tema oscuro */
body[data-theme='dark'] ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

body[data-theme='dark'] ::-webkit-scrollbar-track {
  background: #121212;
}

body[data-theme='dark'] ::-webkit-scrollbar-thumb {
  background: #424242;
  border-radius: 4px;
  min-height: 40px;
}

body[data-theme='dark'] ::-webkit-scrollbar-thumb:hover {
  background: #606060;
}

/* Soporte para Firefox */
body[data-theme='light'] * {
  scrollbar-width: thin;
  scrollbar-color: #d3cece #fafafa;
}

body[data-theme='dark'] * {
  scrollbar-width: thin;
  scrollbar-color: #424242 #121212;
}
